body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/*Estilos del Nav*/

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.modelos {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.modelos article {
    text-align: center;
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*estilos de los articulos*/


/*DISEÑOS ARTICULO*/

.articulo {
    width: 300px;
    /* Ajusta el ancho según tus necesidades */
    margin: 10px;
    /* Espacio alrededor del artículo */
    padding: 10px;
    /* Espacio interno del artículo */
    border: 1px solid #ccc;
    /* Borde del artículo */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra para resaltar */
}

.img-art {
    height: 50%;
    width: 100%;
    /* La imagen ocupa todo el ancho del contenedor */
    border-radius: 8px;
    /* Bordes redondeados para la imagen */
}

.titulo-articulo {
    font-size: 1.2em;
    /* Tamaño del título */
    color: #333;
    /* Color del texto */
    margin-top: 10px;
    /* Espacio superior al título */
}

.precio-articulo {
    color: red;
    /* Color del precio (puedes ajustar según tu diseño) */
    font-size: 20px;
    margin-top: 5px;
    /* Espacio superior al precio */
}

.desc-articulo {
    color: #555;
    /* Color del texto de descripción */
    margin-top: 10px;
    /* Espacio superior a la descripción */
    font-size: 15px;
}