/* Resetear márgenes y rellenos para evitar inconsistencias entre navegadores */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}


/* Estilo básico para el cuerpo de la página */

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/*Estilos del Nav*/

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}


/* Estilo del formulario */

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#formAutomoviles {
    max-width: 600px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#contenedorTabla {
    max-width: 1000px;
    width: 55%;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
button {
    margin-bottom: 12px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Estilo del footer */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*ESTILOS DE LA TABLA*/

#contenedorTabla {
    margin: 20px;
}

#tablaAutos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#tablaAutos th,
#tablaAutos td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

#tablaAutos th {
    background-color: #333;
    color: white;
}

#tablaAutos tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tablaAutos tbody tr:hover {
    background-color: #ddd;
}

#tablaAutos img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 10%;
}